---
layout: default
title: NOT ONLY COFFEE
---


<header class="intro-header" style="background-image: url('{{ site.static_path }}/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="spanite-heading">
                        <h1>NOT ONLY COFFEE</h1>
                        <hr class="small">
                        <span class="subheading">CODING CHANGE THE WORLD</span>
                    </div>
            </div>
        </div>
    </div>
</header>



<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="post_preview_list">

    {% for post in paginator.posts %}


                    <div class="post_preview_single">
                        <a href="{{ post.url }}">
                            <div class="post_preview_title">
                                <h2>{{ post.title }}</h2>
                            </div>

                            <div class="post_preview_desc">
                                {{ post.content | strip_html | truncate:200 }}
                            </div>

                            <div class="post_meta_desc">
                                发布时间: {{ post.date | date_to_string }}
                            </div>
                        </a>
                    </div>

                    <hr />


    
    {% endfor %}      

    {% if paginator.previous_page %}
        
        <button type="button" class="btn btn-default pre_button_style"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a></button>
    {% endif %}

        {% if paginator.next_page %}
        
        <button type="button" class="btn btn-default next_button_style"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a></button>
    {% endif %}    

                    <div style="clear:both;"></div>

                </div>
            </div>
        </div>
    </div>
</article>


