<div id="search_page" class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
</div>

<!-- 
<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>
</div> -->


<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<ul class="list-inline text-center">
					<li class="right_margin"><a href="{{ site.url }}/feed.xml" class="link_no_style"><i class="icon-rss icon-3x"></i></a></li>
					<li><a target="_blank" href="https://github.com/notonlycoffee" class="link_no_style"><i class="icon-github icon-3x"></i></a></li>
				</ul>

				<p class="text-center">Copyright © jc 2017</p>
			</div>
		</div>
	</div>	
</footer>




<script src="{{ site.static_path }}/js/jquery.min-1.9.1.js"></script>
<script src="{{ site.static_path }}/bootStrap/js/bootstrap.min.js"></script>
<script src="{{ "/search/js/bootstrap3-typeahead.min.js"}}"></script>
<script src="{{ "/search/js/cb-search.js"}}"></script>
