


<div id="personal_logo">
	<p id="blog_name"><a class="link_not" href="{{ site.baseurl }}">NOT ONLY COFFEE</a></p>
	<p id="blog_desc"><a class="link_not" href="{{ site.baseurl }}">COFFEE PRODUCTION CODE PRODUCTION</a></p>
</div>


<div id="search_div">
	<input id="search_input" type="text" placeholder="Search" />
</div>

<div>
	<a class="link_not" href="{{ site.url }}/feed.xml">RSS订阅</a>
</div>

<div id="categories_div">
	{% include categories.html %}
</div>

<div id="recent_posts_div">
	{% include recent_posts.html %}
</div>
<div id="recent_comments_div">
	{% include recent_comments.html %}
</div>

