
@font-face {
    font-family: logo_font;
    src:url('../fonts/Open_Season.ttf');
}


@font-face {
    font-family: logo_desc;
    src:url('../fonts/akkurat.ttf');
}

.spanite-heading {
	text-align:center;
	color:#FFF;
    /*height:444px;*/
}





.spanite-heading h1 {
    font-size: 50px
}

 .spanite-heading span {
        font-size:20px;
    }

@media only screen and (min-width: 768px) {
   .spanite-heading h1 {
        font-size:80px
    }
}


@media only screen and (min-width: 768px) {
   .spanite-heading span {
        font-size:30px
    }
}

/*@media only screen and (max-width: 768px) {
   .spanite-heading {
        height:261px;
    }
}*/



.intro-header {
    background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 1%;

    padding:8% 0;

    /*不选中文字*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /*不选中文字结束*/
}






.post_preview_single:hover {
    border:solid 1px red;
    cursor:pointer;
    color:red;
    border-radius:5px;
}

.post_preview_list a {
    text-decoration: none;
    color:#000;
}
