<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<link href="{{ site.static_path }}/css/public.css" rel="stylesheet">
	</head>

	<body>
		<div>
			<form action="/search" method="get">
			  <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
			</form>			
		</div>

		<div>
			{{ content }}
		</div>


		<div>
			<section id="search-results" style="display: none;"> </section>
		</div>

		<div>
		{% raw %}
		<script id="search-results-template" type="text/mustache">
		  {{#entries}}
		    <article>
		      <h3>
		        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
		        <a href="{{url}}">{{title}}</a>
		      </h3>
		      {{#is_post}}
		      <ul>
		        {{#tags}}<li>{{.}} </li>{{/tags}}
		      </ul>
		      {{/is_post}}
		    </article>
		  {{/entries}}
		</script>
		{% endraw %}
		</div>

	</body>


</html>
